# pytest
__pycache__/
*.pyc
.pytest_cache/
# local data
*.db
*.log
*.json
data/
secrets/
# include testing sample data
tests/data/responses
!tests/data
!**/sample_*.json
.env
*.env
*_api
nohup.out
.ruff_cache/
*.swp
# notebook artifacts
.ipynb_checkpoints/
